body, html{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Times New Roman";
}

header {
  width: 100%;
  position: fixed;
  background-color: #000;
  z-index: 10;
  top: 0;
  text-transform: uppercase;    
}

header #logo {
  float: right;
  padding-right: 10px;
  font: bold 16px;
  color: #f4f4f4;
  letter-spacing: 1px;
}

nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

.img-container, .img-container1, .img-container2, .img-container3 {
  position:relative;
  background-position:top;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed; 
  /*
    fixed = parallax
    scroll = normal
  */
}

.img-container {
  background-image:url('../images/projects.jpg');
  background-position: center;
  min-height:50%;
}

.img-container1 {
  background-image:url('../images/project1.jpg');
  min-height:400px;
}

.img-container2 {
  background-image:url('../images/project2.jpg');
  min-height:400px;
}

.img-container3 {
  background-image:url('../images/project3.jpg');
  min-height:400px;
}

.parallax-section {
  text-align:center;
  padding:30px 60px;
  background-color:#282e34;
  color:#ddd;
}

.parallax-section h3 {
  font-size: 35px;
}

p {
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.img-text {
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.img-text .project-name {
  background-color:#111;
  color:#fff;
  padding:10px 10px;
}

.img-text .project-name p {
  font-size: 27px;
  color: #000;
  letter-spacing: 5px;
  text-transform: none;
}

#footer {
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}

@media(max-width:550px) {
  .img-container, .img-container1, .img-container2, .img-container3 {
    background-attachment:scroll;
  }
}
